#Assignment 1

In [18]:
import pandas as pd
import numpy as np

# Task 1: Create a pandas dataframe with numpy random values

In [ ]:
data = np.random.rand(4, 4)
df = pd.DataFrame(data)

In [19]:
print("Task 1 - DataFrame:")
print(df)

Task 1 - DataFrame:
   Random value 1  Random value 2  Random value 3  Random value 4
0        0.327780        0.342300        0.760613        0.037830
1        0.899815        0.319069        0.812263        0.388584
2        0.488083        0.490305        0.635824        0.121239
3        0.841281        0.353438        0.192868        0.962081

# Task 2: Rename the column names

In [20]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [21]:
print("\nTask 2 - Renamed column names:")
print(df.columns)

Task 2 - Renamed column names:
Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

# Task 3: Descriptive statistics

In [22]:
statistics = df.describe()

In [23]:
print("\nTask 3 - Descriptive statistics:")
print(statistics)

Task 3 - Descriptive statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.639240        0.376278        0.600392        0.377433
std          0.276029        0.077355        0.281597        0.417494
min          0.327780        0.319069        0.192868        0.037830
25%          0.448007        0.336492        0.525085        0.100387
50%          0.664682        0.347869        0.698218        0.254912
75%          0.855915        0.387655        0.773525        0.531958
max          0.899815        0.490305        0.812263        0.962081

# Task 4: Check for null values and data types

In [ ]:
null_values = df.isnull().sum()
data_types = df.dtypes

In [10]:
print("\nTask 4 - Null values:")
print(null_values)

Task 4 - Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [11]:
print("\nTask 4 - Data types:")
print(data_types)

Task 4 - Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

# Task 5: Display columns using location and index location methods

In [15]:
random_value_2_loc = df.loc[:, 'Random value 2']
random_value_2_iloc = df.iloc[:, 1]  # Assuming the column index for 'Random value 2' is 1

random_value_3_loc = df.loc[:, 'Random value 3']
random_value_3_iloc = df.iloc[:, 2]  # Assuming the column index for 'Random value 3' is 2

In [14]:
print("\nTask 5 - 'Random value 2' column using loc:")
print(random_value_2_loc)

Task 5 - 'Random value 2' column using loc:
0    0.342300
1    0.319069
2    0.490305
3    0.353438
Name: Random value 2, dtype: float64

In [13]:
print("\nTask 5 - 'Random value 2' column using iloc:")
print(random_value_2_iloc)

Task 5 - 'Random value 2' column using iloc:
0    0.342300
1    0.319069
2    0.490305
3    0.353438
Name: Random value 2, dtype: float64

In [16]:
print("\nTask 5 - 'Random value 3' column using loc:")
print(random_value_3_loc)

Task 5 - 'Random value 3' column using loc:
0    0.760613
1    0.812263
2    0.635824
3    0.192868
Name: Random value 3, dtype: float64

In [17]:
print("\nTask 5 - 'Random value 3' column using iloc:")
print(random_value_3_iloc)

Task 5 - 'Random value 3' column using iloc:
0    0.760613
1    0.812263
2    0.635824
3    0.192868
Name: Random value 3, dtype: float64