In [118]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**SURIYAPRAKASH G 20BCE0077**

# Task 1

Read the dataset and do data pre-processing

In [119]:
path = "/content/drive/MyDrive/AI_dataset/drug200.csv"

Step 1: Read the dataset

In [120]:
df = pd.read_csv(path)
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [121]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [122]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [123]:
df['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [124]:
df['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [125]:
df['Cholesterol'].unique()

array(['HIGH', 'NORMAL'], dtype=object)

Step 2: Split features and labels

In [126]:
Y = df['Drug']
X = df.drop('Drug', axis=1)

In [127]:
X

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH   25.355
1     47   M     LOW        HIGH   13.093
2     47   M     LOW        HIGH   10.114
3     28   F  NORMAL        HIGH    7.798
4     61   F     LOW        HIGH   18.043
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH   11.567
196   16   M     LOW        HIGH   12.006
197   52   M  NORMAL        HIGH    9.894
198   23   M  NORMAL      NORMAL   14.020
199   40   F     LOW      NORMAL   11.349

[200 rows x 5 columns]

In [128]:
Y

0      DrugY
1      drugC
2      drugC
3      drugX
4      DrugY
       ...
195    drugC
196    drugC
197    drugX
198    drugX
199    drugX
Name: Drug, Length: 200, dtype: object

Step 3: Perform label encoding for categorical variables

In [129]:
le = LabelEncoder()
X['Sex'] = le.fit_transform(X['Sex'])
X['BP'] = le.fit_transform(X['BP'])
X['Cholesterol'] = le.fit_transform(X['Cholesterol'])

In [130]:
X['Sex']

0      0
1      1
2      1
3      0
4      0
      ..
195    0
196    1
197    1
198    1
199    0
Name: Sex, Length: 200, dtype: int64

In [131]:
X['BP']

0      0
1      1
2      1
3      2
4      1
      ..
195    1
196    1
197    2
198    2
199    1
Name: BP, Length: 200, dtype: int64

In [132]:
X['Cholesterol']

0      0
1      0
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    1
199    1
Name: Cholesterol, Length: 200, dtype: int64

In [133]:
X

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0   25.355
1     47    1   1            0   13.093
2     47    1   1            0   10.114
3     28    0   2            0    7.798
4     61    0   1            0   18.043
..   ...  ...  ..          ...      ...
195   56    0   1            0   11.567
196   16    1   1            0   12.006
197   52    1   2            0    9.894
198   23    1   2            1   14.020
199   40    0   1            1   11.349

[200 rows x 5 columns]

Step 5: Split the dataset into training and testing sets

In [134]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

Step 6: Print the pre-processed data shapes

In [135]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((160, 5), (40, 5), (160,), (40,))

# Task 2

 Build the ANN model with (input layer, min 3 hidden layers & output layer

In [136]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Step 1: Creating the ANN model

In [142]:
annModel = Sequential()

# Adding the input layer to the model
annModel.add(Dense(4,activation='relu'))

# Adding the 1st hidden layer to the model
annModel.add(Dense(64,activation='relu'))

# Adding the 2nd hidden layer to the model
annModel.add(Dense(64,activation='relu'))

# Adding the 3nd hidden layer to the model
annModel.add(Dense(32,activation='relu'))

# Adding output layer
annModel.add(Dense(5,activation='softmax'))

Step 2: Compile the model

In [150]:
annModel.compile(optimizer='adam',loss='sparse_categorical_crossentropy',  metrics=['accuracy'])

Step 3: Convert labels to numerical values in the Y series

In [139]:
label_encoder = LabelEncoder()
Y_train_encoded = label_encoder.fit_transform(Y_train)
Y_test_encoded = label_encoder.transform(Y_test)

Step 4:  Train the model

In [151]:
annModel.fit(X_train, Y_train_encoded, epochs = 100, batch_size = 32, verbose=1)

Epoch 1/100
5/5 [==============================] - 1s 3ms/step - loss: 0.6478 - accuracy: 0.7312
Epoch 2/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6244 - accuracy: 0.7375
Epoch 3/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6239 - accuracy: 0.7500
Epoch 4/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6167 - accuracy: 0.7625
Epoch 5/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6212 - accuracy: 0.7375
Epoch 6/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6175 - accuracy: 0.7500
Epoch 7/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6277 - accuracy: 0.7375
Epoch 8/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6281 - accuracy: 0.7563
Epoch 9/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6383 - accuracy: 0.7375
Epoch 10/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6130 - accuracy: 0.7688
Epoch 11/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6173 - accuracy: 0.7688
Epoch 12/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6232 - accuracy: 0.7375
Epoch 13/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6176 - accuracy: 0.7625
Epoch 14/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6229 - accuracy: 0.7375
Epoch 15/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6156 - accuracy: 0.7625
Epoch 16/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6128 - accuracy: 0.7625
Epoch 17/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6167 - accuracy: 0.7500
Epoch 18/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6148 - accuracy: 0.7625
Epoch 19/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6129 - accuracy: 0.7437
Epoch 20/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6113 - accuracy: 0.7437
Epoch 21/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6120 - accuracy: 0.7563
Epoch 22/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6129 - accuracy: 0.7437
Epoch 23/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6149 - accuracy: 0.7500
Epoch 24/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6157 - accuracy: 0.7437
Epoch 25/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6106 - accuracy: 0.7625
Epoch 26/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6115 - accuracy: 0.7500
Epoch 27/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6146 - accuracy: 0.7437
Epoch 28/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6119 - accuracy: 0.7563
Epoch 29/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6090 - accuracy: 0.7563
Epoch 30/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6155 - accuracy: 0.7500
Epoch 31/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6118 - accuracy: 0.7375
Epoch 32/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6188 - accuracy: 0.7437
Epoch 33/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6100 - accuracy: 0.7437
Epoch 34/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6076 - accuracy: 0.7688
Epoch 35/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6088 - accuracy: 0.7437
Epoch 36/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6088 - accuracy: 0.7500
Epoch 37/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6125 - accuracy: 0.7563
Epoch 38/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6207 - accuracy: 0.7437
Epoch 39/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6090 - accuracy: 0.7688
Epoch 40/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6100 - accuracy: 0.7500
Epoch 41/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6084 - accuracy: 0.7625
Epoch 42/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6109 - accuracy: 0.7437
Epoch 43/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6264 - accuracy: 0.7625
Epoch 44/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6372 - accuracy: 0.7250
Epoch 45/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6217 - accuracy: 0.7625
Epoch 46/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6063 - accuracy: 0.7437
Epoch 47/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6086 - accuracy: 0.7563
Epoch 48/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6059 - accuracy: 0.7437
Epoch 49/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6071 - accuracy: 0.7563
Epoch 50/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6086 - accuracy: 0.7437
Epoch 51/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6092 - accuracy: 0.7625
Epoch 52/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6103 - accuracy: 0.7500
Epoch 53/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6151 - accuracy: 0.7563
Epoch 54/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6065 - accuracy: 0.7500
Epoch 55/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6066 - accuracy: 0.7625
Epoch 56/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6109 - accuracy: 0.7437
Epoch 57/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6080 - accuracy: 0.7563
Epoch 58/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6088 - accuracy: 0.7437
Epoch 59/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6133 - accuracy: 0.7563
Epoch 60/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6077 - accuracy: 0.7500
Epoch 61/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6087 - accuracy: 0.7688
Epoch 62/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6148 - accuracy: 0.7437
Epoch 63/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6242 - accuracy: 0.7563
Epoch 64/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6237 - accuracy: 0.7563
Epoch 65/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6106 - accuracy: 0.7625
Epoch 66/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6061 - accuracy: 0.7688
Epoch 67/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6032 - accuracy: 0.7437
Epoch 68/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6039 - accuracy: 0.7625
Epoch 69/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6010 - accuracy: 0.7563
Epoch 70/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6044 - accuracy: 0.7688
Epoch 71/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6008 - accuracy: 0.7563
Epoch 72/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6105 - accuracy: 0.7375
Epoch 73/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6057 - accuracy: 0.7500
Epoch 74/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6046 - accuracy: 0.7437
Epoch 75/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6287 - accuracy: 0.7500
Epoch 76/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6428 - accuracy: 0.7250
Epoch 77/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6315 - accuracy: 0.7312
Epoch 78/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6054 - accuracy: 0.7437
Epoch 79/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6100 - accuracy: 0.7437
Epoch 80/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6224 - accuracy: 0.7437
Epoch 81/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6267 - accuracy: 0.7437
Epoch 82/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6185 - accuracy: 0.7437
Epoch 83/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6083 - accuracy: 0.7500
Epoch 84/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6077 - accuracy: 0.7437
Epoch 85/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6162 - accuracy: 0.7437
Epoch 86/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6029 - accuracy: 0.7563
Epoch 87/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5979 - accuracy: 0.7563
Epoch 88/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5977 - accuracy: 0.7688
Epoch 89/100
5/5 [==============================] - 0s 5ms/step - loss: 0.6031 - accuracy: 0.7500
Epoch 90/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6039 - accuracy: 0.7563
Epoch 91/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6154 - accuracy: 0.7500
Epoch 92/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6033 - accuracy: 0.7625
Epoch 93/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6026 - accuracy: 0.7437
Epoch 94/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6015 - accuracy: 0.7625
Epoch 95/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5985 - accuracy: 0.7500
Epoch 96/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5974 - accuracy: 0.7625
Epoch 97/100
5/5 [==============================] - 0s 3ms/step - loss: 0.5961 - accuracy: 0.7688
Epoch 98/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6002 - accuracy: 0.7500
Epoch 99/100
5/5 [==============================] - 0s 3ms/step - loss: 0.6052 - accuracy: 0.7625
Epoch 100/100
5/5 [==============================] - 0s 4ms/step - loss: 0.6156 - accuracy: 0.7500

Step 4: Evaluate the model

In [172]:
loss, accuracy = annModel.evaluate(X_test, Y_test_encoded, verbose=0)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

Test Loss: 0.8604307174682617
Test Accuracy: 0.6499999761581421

# Task 3

Test the model with random data

In [184]:
# Select 5 random samples from the dataset
X_random_samples = X.sample(n=5, random_state=42)
Y_random_samples = Y.sample(n=5, random_state=42)

# Make predictions
predictions = annModel.predict(X_random_samples)

# Decode the predicted labels
predicted_labels = label_encoder.inverse_transform(np.argmax(predictions, axis=1))

#Print the predictions
for i in range(len(X_random_samples)):
    print("----------------\nData",i+1)
    print("Random Data:")
    print(X_random_samples.iloc[i])
    print("\nActual Label:", Y_random_samples.iloc[i])
    print("Predicted Label:", predicted_labels[i])
    print()

1/1 [==============================] - 0s 26ms/step
----------------
Data 1
Random Data:
Age            36.000
Sex             1.000
BP              1.000
Cholesterol     1.000
Na_to_K        11.424
Name: 95, dtype: float64

Actual Label: drugX
Predicted Label: drugX

----------------
Data 2
Random Data:
Age            16.000
Sex             0.000
BP              0.000
Cholesterol     1.000
Na_to_K        15.516
Name: 15, dtype: float64

Actual Label: DrugY
Predicted Label: DrugY

----------------
Data 3
Random Data:
Age            18.00
Sex             0.00
BP              2.00
Cholesterol     1.00
Na_to_K         8.75
Name: 30, dtype: float64

Actual Label: drugX
Predicted Label: drugX

----------------
Data 4
Random Data:
Age            59.000
Sex             0.000
BP              1.000
Cholesterol     0.000
Na_to_K        10.444
Name: 158, dtype: float64

Actual Label: drugC
Predicted Label: drugX

----------------
Data 5
Random Data:
Age            47.000
Sex             1.000
BP              1.000
Cholesterol     1.000
Na_to_K        33.542
Name: 128, dtype: float64

Actual Label: DrugY
Predicted Label: DrugY