**Task1**

In [ ]:
#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import pandas as pd
import numpy as np

s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))

df=pd.DataFrame([s1, s2, s3, s4])
print(df)

          0         1         2         3
0  0.686993  0.465533  0.978262  0.165001
1  0.588594  0.244781  0.860006  0.905120
2  0.148242  0.979940  0.156022  0.876929
3  0.213806  0.129511  0.089304  0.229579

**Task2**

In [ ]:
#Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.686993        0.465533        0.978262        0.165001
1        0.588594        0.244781        0.860006        0.905120
2        0.148242        0.979940        0.156022        0.876929
3        0.213806        0.129511        0.089304        0.229579

**Task3**

In [ ]:
#Find the descriptive statistics of the 'df' dataframe.

df.describe(include="all")

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.409409        0.454941        0.520898        0.544157
std          0.268098        0.376744        0.463172        0.401560
min          0.148242        0.129511        0.089304        0.165001
25%          0.197415        0.215964        0.139343        0.213434
50%          0.401200        0.355157        0.508014        0.553254
75%          0.613194        0.594135        0.889570        0.883977
max          0.686993        0.979940        0.978262        0.905120

**Task4**

In [ ]:
#Check for the null values in 'df' and find the data type of the columns

print(df.isnull())
print("\n")
df['Random value 1'].dtype, df['Random value 2'].dtype, df['Random value 3'].dtype, df['Random value 4'].dtype

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

(dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'))

**Task5**

In [ ]:
#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

df.loc[0:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.465533        0.978262
1        0.244781        0.860006
2        0.979940        0.156022
3        0.129511        0.089304

In [ ]:
df.iloc[0:,1:3] #Random value 1 to 4 (0, 1, 2, 3)

   Random value 2  Random value 3
0        0.465533        0.978262
1        0.244781        0.860006
2        0.979940        0.156022
3        0.129511        0.089304